/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVBAR */

.navbar {
    height: 64px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: rgba(17, 17, 17, 0.85);
    backdrop-filter: blur(18px);

    display: flex;
    align-items: center;

    padding: 0 16px;

    z-index: 2000;

    border-bottom: 1px solid #222;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* MENU BUTTON */

.menu-button {
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 12px;

    background: #1d1d1d;

    color: white;

    cursor: pointer;

    font-size: 20px;
}

.menu-button:hover {
    background: #2a2a2a;
}

/* LOGO */

.logo {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* SIDEBAR */

.sidebar {
    position: fixed;

    top: 64px;
    left: 0;

    width: 220px;
    height: calc(100vh - 64px);

    background: #111;

    transition: 0.25s;

    overflow: hidden;

    z-index: 1500;
}

/* COLLAPSED */

.sidebar.collapsed {
    width: 80px;
}

/* MENU */

.menu {
    padding: 12px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;

    white-space: nowrap;
}

.menu-item:hover {
    background: #222;
}

.icon {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center; 

    font-size: 22px;
}

/* HIDE TEXT */

.sidebar.collapsed .text {
    display: none;
}

/* MAIN */

.main {
    margin-left: 220px;
    margin-top: 64px;

    padding: 24px;

    transition: 0.25s;
}

/* EXPANDED */

.main.expanded {
    margin-left: 80px;
}

/* GRID */

.videos-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 6px;
}

/* CARD */

.video-card {
    position: relative;

    background: #0f0f0f;

    padding: 10px 10px 10px 10px;

    border-radius: 18px;

    overflow: hidden;

    transition: background 0.25s;

    cursor: pointer;
}

.thumbnail-wrapper {
    position: relative;
    width: 100%;
}

.thumbnail-wrapper::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    height: 50%;
    border-radius: 14px;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.thumbnail-wrapper:hover .video-duration{
    background: rgba(0, 0, 0, 0.8);
}

.photo-preview {    
    width: 100%;

    aspect-ratio: 16 / 9;

    object-fit: cover;
    display: block;

    border-radius: 14px;

    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

.video-duration {
    position: absolute;

    right: 8px;
    bottom: 8px;

    background: rgba(0, 0, 0, 0.75);

    color: white;

    font-size: 14px;
    font-weight: 600;

    padding: 3px 6px;

    border-radius: 6px;

    font-family: monospace;
}

.video-info {
    display: flex;
    gap: 12px;
    padding-top: 8px;
}

.channel-avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    object-fit: cover;

    flex-shrink: 0;

    transition: transfrom 0.4s;
}

.channel-avatar:hover {
    transform: scale(1.04);
}

.channel-name {
    display: inline-block;

    width: fit-content;

    cursor: pointer;
    margin-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    color: #777;
}

.channel-name:hover {
    color: #b8b7b7;
}

.video-meta {
    display: flex;
    flex-direction: column;

    min-height: 80px;
    flex: 1;
}

.video-top-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.video-title {
    flex: 1;

    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;

    overflow: hidden;

    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-stats {
    margin-top: auto;
    color: #777;
    font-size: 13px;
}

.video-menu-btn {
    position: absolute;

    right: 10px;
    bottom: 15px;

    height: 30px;
    width: 30px;

    background: transparent;
    border: none;

    color: white;
    font-size: 22px;

    cursor: pointer;

    border-radius: 40%;
}

.video-menu-btn:hover {
    background: rgba(90, 90, 90, 0.5);
}

.video-menu {
    position: fixed;

    width: 180px;

    background: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 251, 255, 0.1);

    border-radius: 14px;
    
    padding: 6px;
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    
    transform: scale(0.8) translateY(12px);
    pointer-events: none;
    opacity: 0;

    transition: opacity 0.2s ease, transfrom 0.2s ease;

    z-index: 9999;
}

.video-menu.open {
    transform: scale(1) translateY(0);
    pointer-events: auto;
    opacity: 1;
}

.video-menu-item {
    padding: 10px 12px;

    font-size: 14px;

    color: #eee;

    border-radius: 10px;

    cursor: pointer;

    transition: background 0.15s;
}

.video-menu-item:hover {
    background: rgba(255, 255, 255, 0.08);
}

.video-menu-item.danger {
    color: #ff4d4d;
}

/* TABLET */

@media (max-width: 1430px) {

    .videos-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .sidebar {
        transform: translateX(-100%);
        width: 200px;
    }
    
    .sidebar.mobile-show {
        transform: translateX(0);
    }
    
    .main {
        margin-left: 0;
    }
}

/* MOBILE */

@media (max-width: 736px) {

    .videos-grid {
        grid-template-columns: 1fr;
    }
}